/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background: linear-gradient(
        135deg,
        #0F172A,
        #1E293B,
        #312E81,
        #0F172A
    );

    background-size: 400% 400%;

    animation: gradientMove 12s ease infinite;

    color:#F8FAFC;

    min-height:100vh;
}

@keyframes gradientMove{
    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
}